tang_nano-scarf_pat_gen_edge_counter/*.gprj linguist-generated=true
tang_nano-scarf_pat_gen_edge_counter/*.user linguist-generated=true
tang_nano-scarf_pat_gen_edge_counter/scarf_block_ram_pat_gen_and_edge_counters/src/gowin_rpll/* linguist-generated=true
tang_nano-scarf_pat_gen_edge_counter/scarf_block_ram_pat_gen_and_edge_counters/impl/* linguist-generated=true
tang_nano-scarf_pat_gen_edge_counter/scarf_block_ram_pat_gen_and_edge_counters/impl/pnr/* linguist-generated=true
tang_nano-scarf_pat_gen_edge_counter/scarf_block_ram_pat_gen_and_edge_counters/impl/temp/* linguist-generated=true
tang_nano-scarf_pat_gen_edge_counter/scarf_block_ram_pat_gen_and_edge_counters/impl/gwsynthesis/* linguist-generated=true
tang_nano-scarf_pat_gen_edge_counter/scarf_block_ram_pat_gen_and_edge_counters/src/*.v linguist-language=SystemVerilog
